.container {
  min-height: 100vh;
  background-color: #2b2b2b;

  &__content {
    padding: 48px;
    padding-left: calc(48px + 90px);
    columns: 5;
    column-gap: 24px;
    @media (max-width: 1200px) {
      columns: 4;
    }
    @media (max-width: 992px) {
      columns: 3;
    }
    @media (max-width: 768px) {
      columns: 2;
    }
  }
}

@media (max-width: 768px) {
  .container {
    &__content {
      padding: 24px;
      padding-bottom: calc(24px + 80px);
    }
  }
}
