.container {
  min-height: 100vh;
  background-color: #2b2b2b;

  &__content {
    padding-left: 90px;
    width: 100vw;
    columns: 5;
    @media (max-width: 1200px) {
      columns: 4;
    }
    @media (max-width: 992px) {
      columns: 3;
    }
    @media (max-width: 768px) {
      columns: 2;
    }
  }
}

@media (max-width: 600px) {
  .container {
    &__content {
      padding-left: 0;
      padding-bottom: 80px;
    }
  }
}
